/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url(main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Overlay to control opacity */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 26, 26, 0.5);
    z-index: 0;
}

header, main, footer {
    position: relative;
    z-index: 1;
}

header {
    background-color: rgba(29, 26, 26, 0.5);
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.home-logo {
    width: 40px; /* Adjust the size of the logo */
    height: 40px;
    margin-right: 10px; /* Spacing between logo and text */

}

header .logo a {
    font-size: 24px;
    color: #fff; /* Set the logo text color to white */
    text-decoration: none;
}

header .logo a:hover {
    color: #ddd; /* Optional: Slightly lighter color on hover */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

section h2 {
    border-bottom: 2px solid #211e1e;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.section-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

ul2 li2 {
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    margin-bottom: 10px; /* Add spacing between list items */
}

.section-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

footer {
    background-color: rgba(29, 26, 26, 0.5);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}
